* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
table {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  min-width: 100px;
}
table th,
table td {
  padding: 22px 15px;
}
table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
.csvButton {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
nav {
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  background: #ffffff;
  z-index: 5000;
  box-shadow: 0 2px 4px rgb(0 28 20 / 13%), 0 8px 16px rgb(0 0 0 / 16%);
}
nav a {
  text-decoration: none;
  padding: 0px 25px;
  color: #5f5f5f;
  cursor: pointer;
}
li {
  list-style-type: none;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links img {
  width: 45px;
  height: 45px;
}
.nav-links img:hover {
  animation: bounce 1s;
}
.home_page_picture {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}
.picture_opacity {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0, 0.3);
}
.picture-text {
  color: white;
}
.picture-text h2 {
  font-size: 40px;
}
.picture-text p {
  font-size: 30px;
}
.logo img {
  cursor: pointer;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1200px-React-icon.svg.png");
  width: 100px;
}
.home_page_body {
  background-color: black;
  height: 800px;
  margin: 0 auto;
}
.home_page_body_content {
  margin-top: 5px;
  color: white;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
}
.home_page_body_content_img {
  height: 50%;
}
.home_page_body_content_img img {
  width: 50%;
  height: 100%;
  min-width: 250px;
  min-height: 250px;
}
.home_page_body_content_text {
  padding-right: 10px;
  text-align: center;
  width: 50%;
}
.home_page_body_content_text h1 {
  font-size: 50px;
}
.home_page_body_content_text p {
  font-size: 25px;
}
.active_header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.active_header p{
  color: #333;
  font-size: 20px;
  display: flex;
  justify-content: center;
  font-family: monospace;
}
.active_header_mobile{
  color:#61dbfb;
}
.btn {
  background-color: #43b146;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
.home_picture {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  position: absolute;
}
.reglog {
  box-shadow: rgb(0 0 0) 5px 6px 15px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  width: 20%;
  display: flex;
  flex-direction: column;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  min-width: 330px;
  position: fixed;
}
.btn {
  position: relative;
  background-color: cornflowerblue;
}
.btn:hover {
  box-shadow: 1px 1px 5px 1px black;
}
.reglog .btn::before {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 0%;
  left: 0;
  height: 100%;
  background: #43b146;
  transition: 0.5s ease;
}
.reglog .btn:hover::before {
  width: 100%;
  content: "Send";
}
.close_form {
  display: flex;
  justify-content: flex-end;
  color: #333;
}
.close_form span {
  font-size: 20px;
  cursor: pointer;
}
.close_form span:hover {
  transform: scale(1.2);
}
.regForm {
  display: flex;
  justify-content: center;
}
.my_form {
  background: rgba(255, 255, 255, 0.1);
  font-size: 20px;
  padding: 10px 10px;
  display: flex;
  cursor: pointer;
  text-align: center;
}
.active_form {
  color: #61dbfb;
  position: relative;
}
.inputs_block {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputs_block input {
  margin-bottom: 10px;
  width: 50%;
  display: flex;
}
input {
  border: none;
  border-bottom: 1px solid #9e9e9e;
  height: 40px;
  padding: 10px 10px;
  outline: none;
  font-size: 16px;
  transition: 0.5s;
}
input:focus {
  border-bottom: 1px solid #4caf50;
  padding-left: 15px;
}
.hamburger {
  cursor: pointer;
  display: none;
  color: #61dbfb;
  font-size: 35px;
  width: 100vh;
}
.hamburger img {
  width: 100px;
}
.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: absolute;
  top: 10%;
  padding: 10px 10px;
}
.home_page_footer {
  background: #000;
}
.home_page_footer_content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  border-top: 1px solid #5f5f5f;
}
.home_page_footer_content_img {
  padding-top: 10px;
}
.home_page_footer_content_img img {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}
.weather {
  display: flex;
  width: 100%;
  background-image: url("https://thewallpaper.co/wp-content/uploads/2020/07/free-weather-background-hd-wallpapers-windows-apple-amazing-4k-samsung-wallpapers-free-download-1920x1080-1.jpg");
  height: 100vh;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}
.wind {
  border-bottom: 1px solid silver;
  width: 100%;
  text-align: center;
}
.current_weather {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  color: white;
  font-family: cursive;
}
.weather_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: rgb(33, 150, 243);
  box-shadow: 0 8px 10px 10px rgb(0 0 0 / 50%);
  border-radius: 5%;
  width: 100%;
  padding: 25px 0px;
}
.weather_content h2 {
  line-height: 60px;
}
.weather_content p {
  line-height: 62px;
  font-size: 20px;
}
.weather_cards {
  width: 100%;
  display: flex;
  overflow: hidden;
  border-radius: 0px 0px 5% 5%;
}
.weather_card_header {
  overflow: hidden;
  position: relative;
}
.weather_card_border {
  display: flex;
  position: relative;
  transition: 0.5s ease;
  align-items: center;
  height: 100%;
}
.weather_content_5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(33, 150, 243);
  padding: 20px 55px;
}
.weather_content_5 span {
  font-size: 20px;
}
.weather_left-right {
  display: flex;
  width: 100%;
  position: absolute;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  z-index: 900;
}
.weather_right,
.weather_left span {
  color: rgb(33, 150, 243);
  font-size: 50px;
  cursor: pointer;
}
.basket {
  display: flex;
  cursor: pointer;
}
.basket span {
  font-size: 10px;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 50px;
}
.basket-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0, 0.3);
  z-index: 9999;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.basket-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.basket-bg {
  background-color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  line-height: 170%;
  min-width: 305px;
}
.basket-orders {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
}
.basket-orders-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.basket-orders-content-txt {
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.basket-orders-content-txt span {
  cursor: pointer;
  padding-left: 10px;
  color: red;
}
.basket-orders-content-txt p {
  font-family: cursive;
}
.basket-orders-content-txt em {
  font-family: cursive;
  font-size: 25px;
}
.basket-header {
  width: 70%;
  padding-bottom: 12px;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.basket-header h2 {
  font-family: cursive;
}
.basket_price {
  width: 100%;
  display: flex;
  justify-content: center;
}
.basket {
  display: flex;
  cursor: pointer;
}
.basket img {
  width: 50px;
  height: 50px;
}
.order_page {
  display: flex;
  flex-direction: column;
  width: 40%;
  text-align: center;
  padding-bottom: 2%;
}
.order_page button {
  border: none;
  background: none;
  color: #333;
  margin: 8px;
  font-size: 20px;
  cursor: pointer;
  font-family: fantasy;
}
.order_page span {
  font-size: 20px;
  font-family: monospace;
  color: #333;
}
.close-menu {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.close-menu p {
  cursor: pointer;
  color: #333;
}
.photo_gallery {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.photo_gallery h1 {
  width: 100%;
  text-align: center;
  color: #333;
  font-family: monospace;
}
.gallery {
  display: flex;
  padding: 10px 5px;
}
.gallery_content {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}
.gallery_content img {
  width: 400px;
  height: 400px;
  border-radius: 20px;
}
.gallery_content_price {
  position: absolute;
  color: #eee;
  font-size: 25px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: monospace;
  flex-direction: column;
}
.gallery_content_price button {
  border: none;
  background: none;
  color: #eee;
  cursor: pointer;
  font-size: 15px;
  font-family: fantasy;
}
.break {
  width: 100%;
  display: block;
  padding-bottom: 75px;
}
.weathers_header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
}
.order_page_basket {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.order_page_basket h2 {
  color: #333;
  font-size: 40px;
}
.order_page_basket table {
  width: 70%;
  text-align: center;
}
.order_page_basket table td {
  font-family: monospace;
}
.order_page_basket table thead,tbody{
  width:100%;
  display: flex;
  justify-content: space-around;
}
.order_page_basket table tbody{
  flex-direction: column;
}
.order_page_basket table tbody tr{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.send_order {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  border: none;
}
.send_order h2 {
  font-family: cursive;
}
.send_order input {
  width: 30%;
  margin-bottom: 15px;
}
.send_order button {
  width: 30%;
}
.feed {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.feed_header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.feed_car {
  display: flex;
  flex-direction: column;
}
.feed_car input {
  margin: 10px 0px;
}
.feed_car_remove {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  left: 0;
  align-items: center;
  padding: 10px 10px;
}
.feed_car_remove table {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.feed_car_remove thead,
tbody {
  font-size: 20px;
  font-family: cursive;
  align-items: center;
}
.feed_car_remove tbody td button {
  background: none;
  color: red;
}
.feed_info {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.feed_menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: -webkit-pictograph;
}
.feed_menu img{
  width:50px;
  height:50px;
}
.cars_cards {
  display: flex;
  flex-direction: column;
  width: 99%;
  text-align: center;
  align-items: center;
  margin: auto;
}
.cars_cards h2 {
  font-family: fantasy;
  color: #333;
  margin: 5px;
}
.cars_cards_content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 80vh;
  color: white;
  margin-bottom: 5px;
  border-radius: 5px;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.cars_input {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 10px;
}
.cars_input input {
  border: none;
  height: 40px;
  outline: none;
  font-size: 16px;
  transition: 0.5s;
  width: 10%;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: 0px 10px;
  padding: center;
  cursor: pointer;
  padding-left: 30px;
  transition: 1.25s ease;
}
.cars_input input:focus {
  width: 100%;
  padding-left: 34px;
  border-bottom: 1px solid silver;
}
.sorting_cars {
  display: flex;
}
.sorting_cars span {
  cursor: pointer;
  font-size: 26px;
  transform: rotate(90deg);
  right: 0;
  color: #333;
}
.sorting_cars span:nth-child(2) {
  transform: rotate(-90deg);
  right: 20px;
}
.model_speed {
  position: absolute;
  width: 95%;
  height: 80%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  font-family: sans-serif;
  font-size: 22px;
}
.create_delete {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.create_delete span {
  background-color: cornflowerblue;
  margin: 5px;
  width: 10%;
  height: 5px;
  color: cornflowerblue;
  font-size: 0;
  cursor: pointer;
}
.create_delete span:nth-child(1) {
  background-color: cornflowerblue;
}
.create_delete span:nth-child(2) {
  background-color: red;
}
.flex_column {
  display: flex;
  flex-direction: column;
}
.logout span {
  cursor: pointer;
  font-family: cursive;
}
.each_car {
  display: flex;
  width: 100%;
  height: 100vh;
}
.each_car img {
  width: 100%;
  height: 90%;
}
.each_car span {
  position: absolute;
  color: white;
  font-family: cursive;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 88%;
}
.game{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
}
.game_table{
  display: flex;
  width: 40%;
  flex-direction: column;  
  overflow: hidden;
}
.game_table tbody{
  font-size: 20px;
    font-family: cursive;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    min-height: 270px;
}
.game_table tbody tr,td{
  width: 100%;
  flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.my1{
  transition: 0.4s ease;
}
.my2{
  transition: 0.5s ease;
}
.my3{
  transition: 0.6s ease;
}
.game_table tbody tr img{
  width: 50px;
  height: 50px;
  align-items: center;
  display: flex;
  transition: 2s ease;
}
.game_table tfoot{
  display: flex;
  justify-content: space-between;
  font-family: monospace;
  font-size: 15px;
  width: 98%;
  align-items: center;
}
.game_table tfoot tr{
  display: flex;
    align-items: center;
    flex-direction: column;
}
.game_table tfoot button{
  background-color: transparent;
  border:none;
  cursor: pointer;
}
.game_table tfoot img{
  width: 30px;
  height: 30px;
  transition: 1s ease;
}
.game_table tfoot img:hover{
  transform: rotate(360deg);
}
.game_table tfoot tr:nth-child(2),.game_table tfoot tr select{
  width: 50%;
}
select{
  font-family: cursive;
  color: #333;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 1px 3px 0px;
  border:none;
}
option{
  cursor: pointer;
}
.chat{
  display:flex;
  width:100%;
  height:88vh;
  align-items:center;
}
.chat_content{
  display:flex;
  width:70%;
  height:80vh;
  box-shadow:1px 1px 5px 2px #e0e0e0;
  flex-direction: column;
  margin:auto;
}
.chat_header{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  font-family: monospace;
  font-size: 18px;
  color:#333;
}
.chat_main{
  display:flex;
  width:100%;
  height:100%;
  padding:10px;
  overflow:auto;
  flex-direction:column;
}
::-webkit-scrollbar {
  width: 10px;
}
 ::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 ::-webkit-scrollbar-thumb {
  background: #888; 
}
 ::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.user_content{
  width:50%;
  margin-top: 5px;
}
.current_user_content{
  margin-top: 15px;
  margin-left: auto;
  width: 60%;
}
.user_content p:nth-child(1){
  text-align:center;
  border-radius: 2px;
  font-size: 20px;
  min-height: 30px;
}
.current_user_content p:nth-child(1){
  text-align:center;
  border-radius: 2px;
  font-size: 20px;
  min-height: 30px;
}
.user_content p,.current_user_content p:nth-child(2){
  position: relative;
    color: silver;
    text-align:end;
}
.chat_footer{
  width:100%;
  background-color: #e4e4e4;
  height:10%;
  align-items: center;
  display: flex;
}
.chat_footer input{
  width:90%;
  background-color: #e4e4e4;
  border-bottom: #e4e4e4;
}
.chat_footer button{
  width:10%;
  height: 100%;
  border:none;
  background-color: #e4e4e4;
  cursor:pointer;
  text-align: center;
  outline:none;
}
.chat_footer button p{
  width:100%;
  height:100%;
  font-size:25px;
  color:#61dbfb;
  text-align: center;
}
@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@media screen and (max-width: 850px) {
  .mynav {
    display: none;
  }
  .hamburger {
    display: flex;
    width: 100%;
    z-index: 9999;
  }
  .hamburger-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  .home_page_body_content {
    flex-direction: column;
  }
  .home_page_body_content_img {
    margin-top: 10px;
  }
  .home_page_body_content_text h1 {
    font-size: 25px;
  }
  .home_page_body_content_text p {
    font-size: 15px;
  }
  .home_page_footer_content {
    display: flex;
    flex-direction: column-reverse;
  }
  .modal {
    position: fixed;
    width: 60%;
    height: 100%;
    background: white;
    color: #61dbfb;
    z-index: 2000;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    top: 0;
  }
  .close_modal {
    display: flex;
    justify-content: flex-end;
    color: #333;
    font-size: 25px;
  }
  .modal_content_menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
  }
  .modal span {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
  }
  .modal img {
    width: 25px;
    height: 25px;
  }
  .reglog {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .close_form {
    padding-right: 10px;
  }
  .cards {
    position: relative;
  }
  .gallery_content img {
    width: 100%;
  }
  .current_weather {
    width: 100%;
  }
  .game_table{
    width: 90%;
  }
}